# venv
review_venv/

# planning + learning module
plan/
.env.secret 

__pycache__/

# scrape debug artifacts
raw/debug/
raw/links/*.jsonl
raw/content/*jsonl

# testing artifacts
retrieve_content_node/testing/
scrape_links_node/testing/